@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500");
.bodyDark {
  background-color: black; }

body {
  background-color: #1A1A1B;
  color: #2A363B;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }
  body .blur {
    -webkit-filter: blur(3px) brightness(30%);
    filter: blur(3px) brightness(30%); }

section {
  position: absolute;
  top: 0;
  left: 102vw;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  min-height: 100vh;
  width: 100vw; }

.active {
  left: 0; }

h1 {
  color: white;
  font-weight: 200;
  font-size: 77px;
  text-align: center;
  margin 30px 0
  -webkit-margin-before: 30px;
  -webkit-margin-after: 30px; }

h3 {
  font-size: 54px;
  margin: 0;
  font-weight: 300;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  display: inline-block; }

.container {
  width: 100%;
  max-width: 1356px;
  margin: 0 auto; }

@media (max-width: 1000px) and (orientation: portrait) {
  h1 {
    margin-top: 100px; } }

.navOpen {
  left: 0px; }

nav {
  background-color: rgba(42, 54, 59, 0.96);
  position: fixed;
  top: 0;
  left: -224px;
  width: 288px;
  height: 150vh;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 15;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 16px 3px 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 16px 3px 18px; }
  nav .menuBut {
    float: right;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 4; }
    nav .menuBut:hover .line {
      background-color: #CF4647; }
    nav .menuBut .butHolder {
      width: 65%;
      height: 22px;
      margin: 2px auto;
      padding-top: 8px; }
      nav .menuBut .butHolder .line {
        background-color: #F8F6F6;
        width: 40px;
        height: 4px;
        margin: 7px auto;
        border-radius: 10px;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease; }
      nav .menuBut .butHolder .top.xopen {
        opacity: 0; }
      nav .menuBut .butHolder .mid {
        margin: 7px auto;
        height: 4px;
        position: relative;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease; }
        nav .menuBut .butHolder .mid .line {
          margin: 0;
          position: absolute;
          top: 0;
          left: 1px; }
        nav .menuBut .butHolder .mid .mid1.xopen {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        nav .menuBut .butHolder .mid .mid2.xopen {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      nav .menuBut .butHolder .bot.xopen {
        opacity: 0; }
  nav .navItems {
    width: 100%;
    height: calc(100vh - 64px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    nav .navItems .navItem {
      cursor: pointer;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      color: #F8F6F6; }
      nav .navItems .navItem:hover:first-child {
        background-color: #CF4647;
        color: #2A363B; }
      nav .navItems .navItem:hover {
        background-color: #F5D061;
        color: #2A363B; }
      nav .navItems .navItem:hover:last-child {
        background-color: #2980B9;
        color: #2A363B; }
      nav .navItems .navItem h3 {
        margin-left: 10px; }
      nav .navItems .navItem .navIcon {
        float: right;
        width: 32px;
        height: 32px;
        margin: 16px 16px;
        z-index: 3;
        opacity: .5; }
    nav .navItems .active1 {
      background-color: #CF4647;
      color: #2A363B; }
    nav .navItems .active2 {
      background-color: #F5D061;
      color: #2A363B; }
    nav .navItems .active3 {
      background-color: #2980B9;
      color: #2A363B; }

@media (max-width: 1000px) and (orientation: portrait) {
  nav {
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px; }
    nav .menuBut {
      display: none; }
    nav .navItems {
      width: 100%;
      height: 64px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      nav .navItems .navItem {
        cursor: pointer;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        color: #F8F6F6; }
        nav .navItems .navItem:hover:first-child {
          background-color: none;
          color: inherit; }
        nav .navItems .navItem:hover {
          background-color: none;
          color: inherit; }
        nav .navItems .navItem:hover:last-child {
          background-color: none;
          color: inherit; }
        nav .navItems .navItem h3 {
          display: none; }
        nav .navItems .navItem .navIcon {
          float: none;
          clear: both;
          width: 32px;
          height: 32px;
          margin: 16px 16px; }
      nav .navItems .active1 {
        background-color: #CF4647;
        color: #2A363B; }
      nav .navItems .active2 {
        background-color: #F5D061;
        color: #2A363B; }
      nav .navItems .active3 {
        background-color: #2980B9;
        color: #2A363B; } }

section#vid .container .vidGrid {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  section#vid .container .vidGrid a {
    text-decoration: none;
    width: 0;
    height: 0; }
  section#vid .container .vidGrid .vid {
    cursor: pointer;
    width: 320px;
    height: 180px;
    margin: 16px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-box-shadow: inset black 0 0 0 0;
    box-shadow: inset black 0 0 0 0;
    position: relative; }
    section#vid .container .vidGrid .vid .vidHolder {
      background-position: center;
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      left: 0;
      top: 0; }
    section#vid .container .vidGrid .vid .triHolder {
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
      opacity: 0;
      -webkit-transition: all .2s ease .1s;
      -o-transition: all .2s ease .1s;
      transition: all .2s ease .1s; }
      section#vid .container .vidGrid .vid .triHolder .tri {
        opacity: .8;
        margin: 0 auto;
        width: 100px; }
        section#vid .container .vidGrid .vid .triHolder .tri svg {
          fill: #CF4647;
          height: 100;
          width: 100; }
    section#vid .container .vidGrid .vid:hover .vidHolder {
      -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 0 50px 10px;
      box-shadow: inset rgba(0, 0, 0, 0.25) 0 0 50px 10px;
      -webkit-filter: blur(3px) brightness(0.4);
      filter: blur(3px) brightness(0.4); }
    section#vid .container .vidGrid .vid:hover .triHolder {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      opacity: 100; }
    section#vid .container .vidGrid .vid .vidTitle {
      width: 100%;
      text-align: center;
      color: #CF4647;
      font-size: 30px;
      font-weight: 400; }

.demo {
  background-image: url("img/vids/small/demoReel.jpg"); }

.nine {
  background-image: url("img/vids/small/1984.jpg"); }

.fnf {
  background-image: url("img/vids/small/feathersNflowers.jpg"); }

.little {
  background-image: url("img/vids/small/littleThings.jpg"); }

.wmuh {
  background-image: url("img/vids/small/WMUH.jpg"); }

.vfx {
  background-image: url("img/vids/small/vfxReel.jpg"); }

@media (max-width: 1200px) {
  section#vid .container .vidGrid {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    section#vid .container .vidGrid .vid {
      margin: 16px 16px; } }

@media (max-width: 800px) and (orientation: portrait) {
  section#vid .container .vidGrid .vid .vidHolder {
    background-size: cover; }
  section#vid .container .vidGrid .vid .triHolder {
    display: none; }
  section#vid .container .vidGrid .vid:hover .vidHolder {
    -webkit-box-shadow: 0 0 0px 0px;
    box-shadow: 0 0 0px 0px;
    -webkit-filter: blur(0px) brightness(1);
    filter: blur(0px) brightness(1); } }

section#img {
  margin-bottom: 100px;
  display: none; }
  section#img .container .imgGrid {
    width: 1000px;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    section#img .container .imgGrid .imgBox {
      width: 200px;
      height: 200px;
      cursor: pointer;
      position: relative;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
      section#img .container .imgGrid .imgBox:hover {
        background-size: 180%;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 1; }
      section#img .container .imgGrid .imgBox:hover .img {
        -webkit-filter: blur(3px) brightness(0.75);
        filter: blur(3px) brightness(0.75); }
      section#img .container .imgGrid .imgBox:hover .titleHolder {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1; }
      section#img .container .imgGrid .imgBox .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        background-position: center;
        background-size: 220%; }
      section#img .container .imgGrid .imgBox .titleHolder {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        background-color: rgba(245, 208, 97, 0.6);
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: white;
        font-size: 170%;
        font-weight: 200;
        text-align: center;
        z-index: 2;
        text-shadow: 0 0 10px black;
        -webkit-transition: all 0.8s cubic-bezier(0.17, 0.67, 0.53, 0.97);
        -o-transition: all 0.8s cubic-bezier(0.17, 0.67, 0.53, 0.97);
        transition: all 0.8s cubic-bezier(0.17, 0.67, 0.53, 0.97); }

.model {
  background-image: url("img/images/portfolio/small/model.jpg"); }

.snowman {
  background-image: url("img/images/portfolio/small/snowman.jpg"); }

.robot {
  background-image: url("img/images/portfolio/small/robot.jpg"); }

.dinner {
  background-image: url("img/images/portfolio/small/dinner.jpg"); }

.pump {
  background-image: url("img/images/portfolio/small/pump.jpg"); }

.orn {
  background-image: url("img/images/portfolio/small/orn.jpg"); }

.old {
  background-image: url("img/images/portfolio/small/old.jpg"); }

.cell {
  background-image: url("img/images/portfolio/small/cell.jpg"); }

.mini {
  background-image: url("img/images/portfolio/small/mini.jpg"); }

.lego {
  background-image: url("img/images/portfolio/small/lego.jpg"); }

.elf {
  background-image: url("img/images/portfolio/small/elf.jpg"); }

.bike {
  background-image: url("img/images/portfolio/small/bike.jpg"); }

.balloons {
  background-image: url("img/images/portfolio/small/balloons.jpg"); }

@media (max-width: 1200px) {
  section#img .container .imgGrid {
    width: 800px; } }

@media (max-width: 1000px) {
  section#img .container .imgGrid {
    width: 600px; } }

@media (max-width: 800px) and (orientation: portrait) {
  section#img .container .imgGrid {
    width: 100%; }
    section#img .container .imgGrid .imgBox {
      width: 50%;
      height: 200px; }
      section#img .container .imgGrid .imgBox:hover {
        background-size: 100%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: auto; }
      section#img .container .imgGrid .imgBox:hover .img {
        -webkit-filter: blur(0px);
        filter: blur(0px); }
      section#img .container .imgGrid .imgBox:hover .titleHolder {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 0; }
      section#img .container .imgGrid .imgBox .img {
        background-size: cover; }
      section#img .container .imgGrid .imgBox .titleHolder {
        display: none; } }

@media (max-width: 400px) and (orientation: portrait) {
  section#img .container .imgGrid {
    width: 100%; }
    section#img .container .imgGrid .imgBox {
      width: 50%;
      height: 150px; } }

@-webkit-keyframes detOpen {
  0% {
    opacity: 0;
    margin-top: -100%; }
  100% {
    opacity: 1;
    margin-top: 0px; }
  cursor: pointer; }

@keyframes detOpen {
  0% {
    opacity: 0;
    margin-top: -100%; }
  100% {
    opacity: 1;
    margin-top: 0px; }
  cursor: pointer; }

section#contact {
  display: none; }
  section#contact .container .left {
    float: left;
    width: 50%; }
    section#contact .container .left .imgLinksHolder {
      width: 400px;
      margin: 0 20px 0 auto; }
      section#contact .container .left .imgLinksHolder img {
        width: 380px;
        border: rgba(41, 128, 185, 0.4) solid 10px; }
      section#contact .container .left .imgLinksHolder .links {
        width: 400px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 10px; }
        section#contact .container .left .imgLinksHolder .links a {
          text-decoration: none; }
        section#contact .container .left .imgLinksHolder .links .link {
          background-color: #2980B9;
          padding: 17px 17px;
          display: block;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          -webkit-transition: all .2s ease;
          -o-transition: all .2s ease;
          transition: all .2s ease; }
          section#contact .container .left .imgLinksHolder .links .link:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          section#contact .container .left .imgLinksHolder .links .link:hover path {
            fill: rgba(0, 0, 0, 0.6); }
          section#contact .container .left .imgLinksHolder .links .link svg path {
            fill: rgba(0, 0, 0, 0.5);
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease; }
        section#contact .container .left .imgLinksHolder .links .link.sm {
          width: 45px;
          height: 45px;
          padding: 20px 20px; }
  section#contact .container .right {
    float: right;
    width: 50%; }
    section#contact .container .right .resumeHolder {
      width: 450px;
      margin: 0 auto 0 20px; }
      section#contact .container .right .resumeHolder h2 {
        font-size: 77;
        font-weight: 200;
        cursor: pointer;
        color: #6ab0de;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease; }
        section#contact .container .right .resumeHolder h2:hover {
          background-color: rgba(41, 128, 185, 0.3);
          color: #F8F6F6; }
      section#contact .container .right .resumeHolder .h2active {
        padding-left: 20px;
        margin-left: -20px;
        background-color: rgba(41, 128, 185, 0.3);
        color: #F8F6F6; }
      section#contact .container .right .resumeHolder ol {
        padding: 0;
        text-align: right;
        margin: 0;
        max-height: 0px;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        overflow: hidden; }
        section#contact .container .right .resumeHolder ol .open {
          margin-top: 0; }
        section#contact .container .right .resumeHolder ol .close {
          margin-top: -100%; }
        section#contact .container .right .resumeHolder ol .liHolder {
          color: lightGrey;
          border-right: #2A363B solid 2px;
          -webkit-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease; }
          section#contact .container .right .resumeHolder ol .liHolder ul {
            list-style-type: none;
            margin: 0;
            padding: 30px 50px 50px 0;
            font-size: 23px; }
            section#contact .container .right .resumeHolder ol .liHolder ul li {
              font-size: 20px;
              font-size: 20px;
              font-weight: 200; }
            section#contact .container .right .resumeHolder ol .liHolder ul .two {
              font-style: italic;
              font-size: 15px;
              font-weight: 300; }

@media (max-width: 1200px) {
  section#contact .container {
    margin: 0 0 0 40px; } }

@media (max-width: 1000px) {
  section#contact .container {
    margin: 0; }
    section#contact .container .left {
      float: none;
      clear: both;
      margin: 0 auto; }
      section#contact .container .left .imgLinksHolder {
        width: 495px;
        height: 400px;
        margin: 0; }
        section#contact .container .left .imgLinksHolder img {
          float: left; }
        section#contact .container .left .imgLinksHolder .links {
          width: 85px;
          height: 400px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-flow: column;
          -ms-flex-flow: column;
          flex-flow: column;
          margin-top: 0;
          margin-left: 10px;
          float: right; }
    section#contact .container .right {
      margin-top: 50px;
      float: none;
      margin: 0 auto;
      display: block;
      clear: both; }
      section#contact .container .right .resumeHolder {
        padding-top: 50px; } }

@media (max-width: 1024px) and (orientation: portrait) {
  section#contact .container .left {
    width: 100vw;
    margin: 0; }
    section#contact .container .left .imgLinksHolder {
      margin: 0 auto;
      height: auto; }
      section#contact .container .left .imgLinksHolder img {
        width: 80%;
        max-width: 568px;
        float: none;
        clear: both;
        margin: 0 auto;
        display: block; }
      section#contact .container .left .imgLinksHolder .links {
        width: 90%;
        height: 85px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        float: none;
        clear: both;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 10px auto; }
        section#contact .container .left .imgLinksHolder .links a {
          text-decoration: none; }
        section#contact .container .left .imgLinksHolder .links .link {
          background-color: #2980B9; }
          section#contact .container .left .imgLinksHolder .links .link:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          section#contact .container .left .imgLinksHolder .links .link:hover path {
            fill: rgba(0, 0, 0, 0.6); }
  section#contact .container .right {
    width: 100vw; }
    section#contact .container .right .resumeHolder {
      margin: 0 auto; }
      section#contact .container .right .resumeHolder .listHolder:first-child {
        background-color: #2980b9; }
      section#contact .container .right .resumeHolder .listHolder:nth-child(2) {
        background-color: rgba(41, 128, 185, 0.75); }
      section#contact .container .right .resumeHolder .listHolder:nth-child(3) {
        background-color: rgba(41, 128, 185, 0.5); }
      section#contact .container .right .resumeHolder .listHolder:nth-child(4) {
        background-color: rgba(41, 128, 185, 0.25); }
      section#contact .container .right .resumeHolder h2 {
        background-color: inherit;
        color: #F8F6F6;
        padding-left: 10px; }
        section#contact .container .right .resumeHolder h2:hover {
          background-color: inherit;
          color: #F8F6F6;
          margin: 0;
          padding-left: 10px; }
      section#contact .container .right .resumeHolder .h2active {
        margin: 0;
        background-color: inherit;
        color: #F8F6F6; }
      section#contact .container .right .resumeHolder ol {
        background-color: #091b27; } }

@media (max-width: 736px) and (orientation: portrait) {
  section#contact .container .left {
    width: 100vw;
    margin: 0 0 50px 0; }
    section#contact .container .left .imgLinksHolder {
      width: 100%;
      margin: 0 auto; }
      section#contact .container .left .imgLinksHolder img {
        width: 80%;
        float: none;
        clear: both;
        margin: 0 auto;
        display: block; }
      section#contact .container .left .imgLinksHolder .links {
        width: 90%;
        height: 85px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        float: none;
        clear: both;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 10px auto; }
        section#contact .container .left .imgLinksHolder .links a {
          text-decoration: none; }
        section#contact .container .left .imgLinksHolder .links .link {
          background-color: #2980B9; }
          section#contact .container .left .imgLinksHolder .links .link:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          section#contact .container .left .imgLinksHolder .links .link:hover path {
            fill: rgba(0, 0, 0, 0.6); }
  section#contact .container .right {
    width: 100vw; }
    section#contact .container .right .resumeHolder {
      margin: 0 auto; }
      section#contact .container .right .resumeHolder .listHolder:first-child {
        background-color: #2980b9; }
      section#contact .container .right .resumeHolder .listHolder:nth-child(2) {
        background-color: rgba(41, 128, 185, 0.75); }
      section#contact .container .right .resumeHolder .listHolder:nth-child(3) {
        background-color: rgba(41, 128, 185, 0.5); }
      section#contact .container .right .resumeHolder .listHolder:nth-child(4) {
        background-color: rgba(41, 128, 185, 0.25); }
      section#contact .container .right .resumeHolder h2 {
        background-color: inherit;
        color: #F8F6F6;
        padding-left: 10px; }
        section#contact .container .right .resumeHolder h2:hover {
          background-color: inherit;
          color: #F8F6F6;
          margin: 0;
          padding-left: 10px; }
      section#contact .container .right .resumeHolder .h2active {
        margin: 0;
        background-color: inherit;
        color: #F8F6F6; }
      section#contact .container .right .resumeHolder ol {
        background-color: #091b27; } }

/*----LIGHTBOX----*/
.lightBoxContainer {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 40;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: overlay;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.opacity1 {
  opacity: 1; }

.circleIcon {
  z-index: 40;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer; }

.arrow {
  border: solid 2px white; }
  .arrow svg {
    width: 50px;
    height: 50px;
    fill: white; }

.lArrow {
  margin-left: 30px; }

.rArrow {
  margin-right: 30px; }

.xBtn {
  padding: 5px;
  z-index: 5;
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 50px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .xBtn:hover {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4); }

.xOut {
  top: -40px;
  right: -40px;
  font-size: 35px; }

.imgContainer {
  z-index: 4;
  position: relative;
  max-width: 80vw;
  max-height: 90vh;
  display: inline-block; }

.imgContainer img {
  max-width: 100%;
  max-height: auto; }

iframe {
  position: absolute;
  top: 0; }

.vidSize {
  max-width: 640px;
  max-height: 360px; }

.spinner {
  z-index: -1;
  top: 125px;
  left: 265px; }

.spinner {
  margin: 100px auto;
  width: 250px;
  height: 200px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  background-color: #aaa;
  height: 100%;
  width: 30px;
  display: inline-block;
  margin: 0 10px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

@media (orientation: portrait) {
  .arrow {
    display: none; }
  .vidSize {
    width: 100%;
    height: 360px; }
  .xBtn {
    right: 0; } }
