html
  head
    include _includes/_head.jade
  body
    include _includes/_nav.jade
    include _includes/_videos.jade
    include _includes/_images.jade
    include _includes/_contact.jade
    include _includes/_lightbox.jade
    
