doctype html
html(lang="en")
  head
    include pages/_head.jade
  body
    
    include pages/_nav.jade
    include pages/_animation.jade
    include pages/_images.jade
    include pages/_contact.jade
