doctype
html
  head
    include _includes/_head.jade
  body    
    include _includes/_nav.jade
    include _includes/_animation.jade
    include _includes/_images.jade
    include _includes/_contact.jade
