section#contact
  .container
    h1 Contact
    .left
      .imgLinksHolder
        img(src="img/images/profPic.jpg" alt="Zach Eastin's Picture")
        .links
          a(href="mailto:chatme@zacheastin.com" target="_blank").link
            include ../img/svgs/emil.svg
          a(href="https://www.facebook.com/zacheastinanimation" target="_blank").link
            include ../img/svgs/facebook.svg
          a(href="https://www.linkedin.com/in/zacheastin" target="_blank").link.sm
            include ../img/svgs/linkedIn.svg
    .right
      .resumeHolder
        .listHolder
          h2 Experience
          ol.exp
            .liHolder.close
              ul What Makes Us Human - Short Film
                li.one VFX Supervisor
                li.two 3D Tracking; Compositing; Modeling; Pre-Vis; UI Design; Script Supervisor
              ul Pointe of Contact - Short Film
                li.one VFX Supervisor
                li.two 3D Tracking; Compositing
              ul CrossTraining Inc. - Website
                li.one Designer Builder
                li.two HTML/Jade; CSS/SASS; JQuery; Jekyll; Github Pages
        .listHolder
          h2 Skills 
          ol
            .liHolder.close
              ul
                li Collaboration
                li Problem Solving
                li Hard Worker
                li Lover of Learning
                li 3D Modeling
                li 2D Motion Design
                li 3D Animations
                li Website Building
        .listHolder
          h2 Education
          ol.edu
            .liHolder.close
              ul
                li Electronic Arts: Computer Animation BS; GPA 3.52
                li Art Minor
                li Missouri State University Springfield, MO May 2015
        .listHolder
          h2 Awards
          ol
            .liHolder.close
              ul
                li District Gold ADDY Award 2014 - Production Assistant
