title Zach Eastin Portfolio
//link(href='https://fonts.googleapis.com/css?family=Raleway:400,200,100' rel='stylesheet' type='text/css')
link(href="css.css" rel="stylesheet")
script(type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js")
script(src="js/app.js")
meta(name="keywords" content="Portfolio, Blender 3D, Blender, Zach Eastin")
meta(name="description" content="A portfolio website for the animator Zach Eastin")
meta(charset="UTF-8")
meta(name="author" content="Zach Eastin")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
include ../_includes/googletracking.jade
