// MIXINS
mixin image(title, name, url)
  .imgBox.pic.lightBox
    .titleHolder= title
    a(href=url).img(class!=name)

section#img
  .container
    h1 Images
    .imgGrid
      +image('special', 'model', 'img/images/portfolio/bigPic/woodenModel.jpg')
      +image('unusual gift', 'snowman', 'img/images/portfolio/bigPic/snowman.jpg')
      +image('curiosity', 'robot',  'img/images/portfolio/bigPic/Robot-lightbulbBetter.jpg')
      +image('dinner', 'dinner', 'img/images/portfolio/bigPic/dinnerware.jpg')
      +image('happy halloween', 'pump', 'img/images/portfolio/bigPic/pumpkin.jpg')
      +image('home', 'orn', 'img/images/portfolio/bigPic/OrnamentBetter.jpg')
      +image('sir', 'old', 'img/images/portfolio/bigPic/oldManAwesome.jpg')
      +image('desperation', 'cell', 'img/images/portfolio/bigPic/cellphone.jpg')
      +image('mini cooper', 'mini', 'img/images/portfolio/bigPic/MiniCoop.jpg')
      //+image('lego', 'img/images/portfolio/bigPic/legoStarWars.jpg')
      +image('fantasy', 'elf', 'img/images/portfolio/bigPic/elfNew.jpg')
      +image('childhood', 'bike', 'img/images/portfolio/bigPic/bike.jpg')
      +image('surprise', 'balloons', 'img/images/portfolio/bigPic/balloons.jpg')
