nav
  .menuBut
      .butHolder
        .line.top
        .mid
          .line.mid1
          .line.mid2
        .line.bot
  .navItems
    .navItem.active1
      h3 Videos
      .navIcon
        include ../img/svgs/ic_play_arrow_white_24px.svg
    .navItem
      h3 Images
      .navIcon
        include ../img/svgs/image.svg
    .navitem
      h3 Contact
      .navIcon
        include ../img/svgs/contact.svg
