section.contentBlock#lightBoxVids.vids
  .container.flex
    h1.mobileTitles Animations
    +videoBox('demoReel', 'https://www.youtube.com/embed/xPy3sxANlnU')
    +videoBox('WMUH', 'https://www.youtube.com/embed/5cB9ndewvrk')
    +videoBox('WMUHvfx', 'https://www.youtube.com/embed/-SEdbHP8L6U')
    +videoBox('nineteenEightyFour', 'https://player.vimeo.com/video/120224592')
    +videoBox('fnf', 'https://www.youtube.com/embed/HatbXlfNC2g?rel=0')
    +videoBox('littleThings', 'https://www.youtube.com/embed/-kfeno5kcEE?rel=0')
    a(href="").empty
    a(href="").empty
    a(href="").empty
