section.contact.contentBlock
  .container.flex
    h1.mobileTitles Contact Me
    .profPic
    .buttonHolder
      a(href="mailto:chatme@zacheastin.com" target="_blank").button
        p Email Me
      a(href="https://www.facebook.com/ZachEastinAnimation" target="_blank").button
        p facebook
      a(href="https://www.linkedin.com/in/zacheastin" target="_blank").button
        p linkedin
        
    .resume
      .row
        .resHeader.blue
          h2 Experience
        .resInfo
          .exSection
            p.tOne what makes us human short film
            p.tTwo VFX Supervisor
            p.tThree 3D Tracking; Compositing; Modeling; Pre-Vis; UI Design; Script Supervisor
          .exSection
            p.tOne Pointe of Contact Short Film
            p.tTwo VFX Supervisor
            p.tThree 3D Tracking; Compositing
          .exSection
            p.tOne CrossTraining Inc. Website
            p.tTwo Designer
            p.tThree Squarespace; Designer; Image Editor
          .exSection
            p.tOne Personal Portfolio Website
            p.tTwo Designer Builder
            p.tThree HTML/Jade; CSS/SASS; jQuery; Jekyll; GitHub Pages
            
      .row
        .resHeader.green
          h2 Skills
        .resInfo
          p Collaboration
          p Problem Solving
          p Hard Worker
          p Lover of Learning
          p 3D Modeling
          p 2D Motion Design
          p 3D Animations
          p Website Building
      .row
        .resHeader.blue
          h2 Education
        .resInfo
          p Electronic Arts: Computer Animation BS; GPA 3.52
          p Art Minor
          p Missouri State University Springfield, MO May 2015
      .row
        .resHeader.green
          h2 Awards
        .resInfo
          p District Gold ADDY Award 2014 - <em>Production Assistant<em>
