head
  title="Zach Eastin Portfolio"
  link(href="css/main.css" rel="stylesheet")
  link(rel="shortcut icon" href="../img/images/icons/ZE.ico")
  link(href="https://fonts.googleapis.com/css?family=Muli|Raleway:100,200,400" rel='stylesheet' type='text/css')
  meta(name="keywords" content="Portfolio, Blender 3D, Blender, Zach Eastin")
  meta(name="description" content="Zach Eastin's Portfolio Website")
  meta(charset="UTF-8")
  meta(name="author" content="Zach Eastin")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  include ../_includes/googletracking.jade
