section.contentBlock#lightBoxPic.images
  .container.flex
    h1.mobileTitles Images
    +imageBox('snowman','snowman')
    +imageBox('robotLightbulb','Robot-lightbulbBetter')
    +imageBox('oldMan','oldManAwesome')
    +imageBox('elf','elfNew')
    +imageBox('minicoop','MiniCoop')
    +imageBox('bike','bike')
    +imageBox('ornament','OrnamentBetter')
    +imageBox('pumpkin','pumpkin')
    +imageBox('cellphone','cellphone')
    +imageBox('dinnerware','dinnerware')
    +imageBox('balloons','balloons')
    +imageBox('butGod','butGod')
    +imageBox('africa','africa')
    a(href="").empty
    a(href="").empty
    a(href="").empty
