nav
  .toggle
    .toggleTop.toggleLine
    .toggleMid.toggleLine
    .toggleBot.toggleLine
  a.logo(href='www.zacheastin.com')
  .mVids.menuItem.sliderClick.activeMenu
    h5 Animations
  .mImages.menuItem.sliderClick
    h5 Images
  .mWebDesign.menuItem.sliderClick
    h5 Web Design
  .mContact.menuItem.sliderClick
    h5 Contact
    
  .icons
    a.blog.icon(href="https://zacheastinanimation.wordpress.com" target="_blank")
      h5 Blog
    a.facebookIcon.icon(href="https://www.facebook.com/ZachEastinAnimation" target="_blank")
      img(src="../img/images/icons/facebookF.png")
    a.linkedInIcon.icon(href="https://www.linkedin.com/in/zacheastin" target="_blank")
      img(src="../img/images/icons/linkedinIN.png")
