section.contentBlock.webDesign
  .container.flex
    h1.mobileTitles Web Design
    a(href="http://www.zacheastin.com").siteHolder
      img(src="../img/images/portfolio/webGrabs/portfolio.jpg")
      .websiteInfo 
        h3 ZachEastin.com
        h4 Portfolio Website
    a(href="http://www.crosstraining-inc.com" target="_blank").siteHolder
      img(src="../img/images/portfolio/webGrabs/crosstraining-inc.jpg")      
      .websiteInfo 
        h3 CrossTraining-Inc.com
        h4 CrossTraining Gym Website
  
