section.contentBlock.webDesign
  .container.flex
    h1.mobileTitles Web Design
    .iframeHolder
      iframe(src="http://www.zacheastin.com")
      .websiteInfo 
        a(href="http://www.zacheastin.com")
          h3 ZachEastin.com
        h4 Portfolio Website
    .iframeHolder
      iframe(src="http://www.crosstraining-inc.com")
      .websiteInfo 
        a(href="http://www.crosstraining-inc.com")
          h3 CrossTraining-Inc.com
        h4 CrossTraining Gym Website
  
