@mixin transition
  transition: all .3s ease-in-out

$bkgd: #F8F6F6
$accent1: #CF4647
$main: #2A363B
$accent2: #F5D061
$accent3: #2980B9
.bodyDark
  background-color: black
body
  background-color: #1A1A1B
  color: $main
  font-family: 'Raleway', sans-serif
  width: 100vw
  overflow-x: hidden
  margin: 0
  padding: 0
  transition: all .6s ease
  .blur
    filter: blur(3px) brightness(30%)


section
  position: absolute
  top: 0
  left: 102vw
  transition: all .6s ease
  min-height: 100vh
  width: 100vw

.active
  left: 0

h1
  color: white
  font-weight: 200
  font-size: 77px
  text-align: center
  -webkit-margin-before: 30px
  -webkit-margin-after: 30px

h3
  font:
    size: 54px
    weight: 300
  text-align: right
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  display: inline-block


.container
  width: 100%
  max-width: 1356px
  margin: 0 auto


@media (max-width: 1000px) and (orientation: portrait)
  h1
    margin-top: 100px
