@keyframes detOpen
  0%
    opacity: 0
    margin-top: -100%
  100%
    opacity: 1
    margin-top: 0px
  cursor: pointer

section#contact
  display: none
  .container
    .left
      float: left
      width: 50%
      .imgLinksHolder
        width: 400px
        margin: 0 20px 0 auto
        img
          width: 380px
          border: rgba($accent3, .4) solid 10px
        .links
          width: 400px
          display: flex
          justify-content: space-between
          margin-top: 10px
          a
            text-decoration: none
          .link
            background-color: $accent3
            padding: 17px 17px
            display: block
            border-radius: 50%
            width: 50px
            height: 50px
            transition: all .2s ease
            &:hover
              transform: scale(1.1)
            &:hover path
              fill: rgba(black, .6)
            svg
              path
                fill: rgba(black, .5)
                transition: all .2s ease
          .link.sm
            width:  45px
            height: 45px
            padding: 20px 20px
    .right
      float: right
      width: 50%
      .resumeHolder
        width: 450px
        margin: 0 auto 0 20px
        h2
          font:
            size: 77
            weight: 200
          cursor: pointer
          color: lighten($accent3, 20%)
          -webkit-margin-before: 0
          -webkit-margin-after: 0
          transition: all .2s ease
          &:hover
            background-color: rgba($accent3, .3)
            color: $bkgd
        .h2active
          padding-left: 20px
          margin-left: -20px
          background-color: rgba($accent3, .3)
          color: $bkgd
        ol
          padding: 0
          text-align: right
          margin: 0
          max-height: 0px
          transition: all .4s ease
          overflow: hidden
          .open
            margin-top: 0
          .close
            margin-top: -100%
          .liHolder
            color: lightGrey
            border-right: $main solid 2px
            transition: all .4s ease
            ul
              list-style-type: none
              margin: 0
              padding: 30px 50px 50px 0
              font-size: 23px
              li
                font-size: 20px
                font:
                  size: 20px
                  weight: 200
              .two
                font-style: italic
                font-size: 15px
                font-weight: 300

@media (max-width: 1200px)
  section#contact
    .container
      margin: 0 0 0 40px

@media (max-width: 1000px)
  section#contact
    .container
      margin: 0
      .left
        float: none
        clear: both
        margin: 0 auto
        .imgLinksHolder
          width: 495px
          height: 400px
          margin: 0
          img
            float: left
          .links
            width: 85px
            height: 400px
            flex-flow: column
            margin-top: 0
            margin-left: 10px
            float: right
      .right
        margin-top: 50px
        float: none
        margin: 0 auto
        display: block
        clear: both
        .resumeHolder
          padding-top: 50px

@media (max-width: 1024px) and (orientation: portrait)
  section#contact
    .container
      .left
        width: 100vw
        margin: 0
        .imgLinksHolder
          margin: 0 auto
          height: auto
          img
            width: 80%
            max-width: 568px
            float: none
            clear: both
            margin: 0 auto
            display: block
            //border: rgba($accent3, .4) solid 10px
          .links
            width: 90%
            height: 85px
            flex-flow: row
            float: none
            clear: both
            display: flex
            justify-content: space-between
            margin: 10px auto
            a
              text-decoration: none
            .link
              background-color: $accent3
              &:hover
                transform: scale(1.1)
              &:hover path
                fill: rgba(black, .6)
      .right
        width: 100vw
        .resumeHolder
          margin: 0 auto
          .listHolder
            &:first-child
              background-color: rgba($accent3, 1)
            &:nth-child(2)
              background-color: rgba($accent3, .75)
            &:nth-child(3)
              background-color: rgba($accent3, .5)
            &:nth-child(4)
              background-color: rgba($accent3, .25)
          h2
            background-color: inherit
            color: $bkgd
            padding-left: 10px
            &:hover
              background-color: inherit
              color: $bkgd
              margin: 0
              padding-left: 10px

          .h2active
            margin: 0
            background-color: inherit
            color: $bkgd
          ol
            background-color: darken($accent3, 35)

@media (max-width: 736px)  and (orientation: portrait)
  section#contact
    .container
      .left
        width: 100vw
        margin: 0 0 50px 0
        .imgLinksHolder
          width: 100%
          margin: 0 auto
          img
            width: 80%
            float: none
            clear: both
            margin: 0 auto
            display: block
            //border: rgba($accent3, .4) solid 10px
          .links
            width: 90%
            height: 85px
            flex-flow: row
            float: none
            clear: both
            display: flex
            justify-content: space-between
            margin: 10px auto
            a
              text-decoration: none
            .link
              background-color: $accent3
              &:hover
                transform: scale(1.1)
              &:hover path
                fill: rgba(black, .6)
      .right
        width: 100vw
        .resumeHolder
          margin: 0 auto
          .listHolder
            &:first-child
              background-color: rgba($accent3, 1)
            &:nth-child(2)
              background-color: rgba($accent3, .75)
            &:nth-child(3)
              background-color: rgba($accent3, .5)
            &:nth-child(4)
              background-color: rgba($accent3, .25)
          h2
            background-color: inherit
            color: $bkgd
            padding-left: 10px
            &:hover
              background-color: inherit
              color: $bkgd
              margin: 0
              padding-left: 10px

          .h2active
            margin: 0
            background-color: inherit
            color: $bkgd
          ol
            background-color: darken($accent3, 35)
