@mixin  image ($name)
  background-image: url('img/images/portfolio/small/' + $name + '.jpg')

#images
    .image
      display: flex
      flex-direction: row
      flex-wrap: wrap
      .img
        width: 256px
        height: 256px
        background:
          color: $green
          size: 210%
          position: center
        cursor: pointer
        +transition
        &:hover
          transform: scale(1.1)
          background-size: 180%
        &:hover > .imgTitle
          transform: rotateX(0deg)
          opacity: 1
        .imgTitle
          opacity: 0
          transform: rotateX(-90deg)
          background-color: rgba($blue, .6)
          height: 100%
          width: 100%
          color: white
          font-size: 210%
          font-weight: 200
          display: flex
          align-items: center
          justify-content: center
          text-align: center
          z-index: 2
          +cubic
      .model
        +image(model)
      .snowman
        +image(snowman)
      .robot
        +image(robot)
      .dinner
        +image(dinner)
      .pump
        +image(pump)
      .orn
        +image(orn)
      .old
        +image(old)
      .cell
        +image(cell)
      .mini
        +image(mini)
      .lego
        +image(lego)
      .elf
        +image(elf)
      .bike
        +image(bike)
      .balloons
        +image(balloons)

@media (max-width: 1024px)
  #images
      .image
        .img
          width: 33.33333%
          height: 0
          padding: 15% 0
          &:hover
            transform: scale(1)
            z-index: 0
          &:active
            transform: scale(1.2)
            z-index: 1
