@mixin  image ($name)
  background-image: url('img/images/portfolio/small/' + $name + '.jpg')

#images
    .image
      display: flex
      flex-direction: row
      flex-wrap: wrap
      .img
        width: 256px
        height: 256px
        background:
          color: $green
          size: cover
          position: center
        cursor: pointer
        +transition
        &:hover
          transform: scale(1.2)
          z-index: 1
      .model
        +image(model)
      .snowman
        +image(snowman)
      .robot
        +image(robot)
      .dinner
        +image(dinner)
      .pump
        +image(pump)
      .orn
        +image(orn)
      .old
        +image(old)
      .cell
        +image(cell)
      .mini
        +image(mini)
      .lego
        +image(lego)
      .elf
        +image(elf)
      .bike
        +image(bike)
      .balloons
        +image(balloons)

@media (max-width: 1024px)
  #images
      .image
        .img
          width: 33.33333%
          height: 0
          padding: 15% 0
          &:hover
            transform: scale(1)
            z-index: 0
          &:active
            transform: scale(1.2)
            z-index: 1
