/*----LIGHTBOX----*/
.lightBoxContainer {
	background-color:rgba(0,0,0,0.9);
	z-index:4;
	width:100vw;
	height:100vh;
	display:none;
	align-items:center;
	justify-content:space-between;
	position:fixed;
	top:0;
	left:0;
	transition:all .4s ease;
	overflow:overlay;
}
.circleIcon {
	z-index:4;
	width:50px;
	height:50px;
	border:solid 2px white;
	border-radius:50%;
	background-color:grey;
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
}
.lArrow {
	margin-left:30px;
}
.rArrow {
	margin-right:30px;
}
.xBtn {
	z-index:5;
	position:absolute;
	top:-20px;
	right:-20px;
	font-size:20px;
	width:30px;
	height:30px;
}
.imgContainer {
	z-index:4;
	position:relative;
	max-width:80vw;
	max-height:90vh;
	display:inline-block;
}
.imgContainer img{
	min-width:500px;
	max-width:100%;
	max-height:100%;
}
iframe {
  position:absolute;
  top:0;
}
.vidSize {
	width:640px;
	height:360px;
}
.spinner {
  z-index:-1;
  top:125px;
  left:265px;
}

hr {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  width:80vw;
  margin:50px auto;
}

.spinner {
  margin: 100px auto;
  width: 250px;
  height: 200px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #aaa;
  height: 100%;
  width: 30px;
  display: inline-block;
  margin:0 10px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
