.navOpen
  left: 0px
nav
  background-color: rgba($main, .96)
  position: fixed
  top: 0
  left: -224px
  width: 288px
  height: 150vh
  transition: all .4s ease
  z-index: 15
  box-shadow: rgba(black, .3) 16px 3px 18px
  .menuBut
    float: right
    width: 64px
    height: 64px
    cursor: pointer
    z-index: 4
    &:hover .line
      background-color: $accent1
    .butHolder
      width: 65%
      height: 22px
      margin: 2px auto
      padding-top: 8px
      .line
        background-color: $bkgd
        width: 40px
        height: 4px
        margin: 7px auto
        border-radius: 10px
        transition: all .2s ease
      .top.xopen
        opacity: 0
      .mid
        margin: 7px auto
        height: 4px
        position: relative
        transition: all .4s ease
        .line
          margin: 0
          position: absolute
          top: 0
          left: 1px
        .mid1.xopen
          transform: rotate(45deg)
        .mid2.xopen
          transform: rotate(-45deg)
      .bot.xopen
        opacity: 0

  .navItems
    width: 100%
    height: calc(100vh - 64px)
    display: flex
    align-items: stretch
    flex-flow: column
    justify-content: center
    .navItem
      cursor: pointer
      transition: all .2s ease
      color: $bkgd
      &:hover:first-child
        background-color: $accent1
        color: $main
      &:hover
        background-color: $accent2
        color: $main
      &:hover:last-child
        background-color: $accent3
        color: $main
      h3
        margin-left: 10px
      .navIcon
        float: right
        width: 32px
        height: 32px
        margin: 16px 16px
        z-index: 3
        opacity: .5
        svg
    .active1
      background-color: $accent1
      color: $main
    .active2
      background-color: $accent2
      color: $main
    .active3
      background-color: $accent3
      color: $main

@media (max-width: 1000px) and (orientation: portrait)
  nav
    top: 0
    left: 0
    width: 100vw
    height: 64px
    .menuBut
      display: none

    .navItems
      width: 100%
      height: 64px
      display: flex
      align-items: stretch
      flex-flow: row
      justify-content: space-around
      .navItem
        cursor: pointer
        transition: all .2s ease
        color: $bkgd
        &:hover:first-child
          background-color: none
          color: inherit
        &:hover
          background-color: none
          color: inherit
        &:hover:last-child
          background-color: none
          color: inherit
        h3
          display: none
        .navIcon
          float: none
          clear: both
          width: 32px
          height: 32px
          margin: 16px 16px
      .active1
        background-color: $accent1
        color: $main
      .active2
        background-color: $accent2
        color: $main
      .active3
        background-color: $accent3
        color: $main
