section.webDesign
  a
    color: white
    text-decoration: none
  .siteHolder
    width: 80%
    margin: 0 auto
    overflow: hidden
    position: relative
    img
      position: relative
      width: 100%
      &:hover ~ .websiteInfo
        transform: translateY(0px) scale(1.1)
    .websiteInfo
      position: absolute
      top: 0
      background-color: rgba(black, 0.5)
      width: 100%
      box-shadow: 0 0px 60px rgba(black, 1)
      transform: translateY(-500px) scale(0)
      transition: all .2s ease
      &:hover
        transform: translateY(0px) scale(1.1)
      h3
        margin: 10px 0
        padding: 0
        line-height: 1
        font-weight: 400
        border-bottom: solid white 1px
  @media (max-width: 750px)
    .siteHolder
      width: 250px
      height: 85px
      overflow: visible
      margin: 0 5px
      img
        display: none
      .websiteInfo
        top: 0
        transform: scale(1) translateY(0px)
        width: 100%
        background-color: transparent
        box-shadow: 0 0 0
        h3
          font-size: 24px
        h4
          font-size: 15px
